/* 오렌지 스케일 */
:root {
  --color-orange-100: #fff3ef;
  --color-orange-200: #ffe8de;
  --color-orange-300: #ffd0bd;
  --color-orange-400: #ffb99d;
  --color-orange-500: #ffa17c;
  --color-orange-600: #ff8a5b;
  --color-orange-700: #ff723a;
  --color-orange-800: #ff5b1a;
  --color-orange-900: #f04400;
  
  /* 그레이스케일 */
  --color-gray-100: #f6f6f6;
  --color-gray-200: #eeeeee;
  --color-gray-300: #d8d8d8;
  --color-gray-400: #bababa;
  --color-gray-500: #979797;
  --color-gray-600: #707070;
  --color-gray-700: #555555;
  --color-gray-800: #343434;
  
  /* 블랙 스케일 */
  --color-black: #000000;
  --color-black-opacity-100: rgba(0, 0, 0, 0.1);
  --color-black-opacity-200: rgba(0, 0, 0, 0.2);
  --color-black-opacity-300: rgba(0, 0, 0, 0.3);
  --color-black-opacity-400: rgba(0, 0, 0, 0.4);
  --color-black-opacity-500: rgba(0, 0, 0, 0.5);
  --color-black-opacity-600: rgba(0, 0, 0, 0.6);
  --color-black-opacity-700: rgba(0, 0, 0, 0.7);
  --color-black-opacity-800: rgba(0, 0, 0, 0.8);
  --color-black-opacity-900: rgba(0, 0, 0, 0.9);
  
  /* 화이트 스케일 */
  --color-white: #ffffff;
  --color-white-opacity-100: rgba(255, 255, 255, 0.1);
  --color-white-opacity-200: rgba(255, 255, 255, 0.2);
  --color-white-opacity-300: rgba(255, 255, 255, 0.3);
  --color-white-opacity-400: rgba(255, 255, 255, 0.4);
  --color-white-opacity-500: rgba(255, 255, 255, 0.5);
  --color-white-opacity-600: rgba(255, 255, 255, 0.6);
  --color-white-opacity-700: rgba(255, 255, 255, 0.7);
  --color-white-opacity-800: rgba(255, 255, 255, 0.8);
  --color-white-opacity-900: rgba(255, 255, 255, 0.9);
  
  /* 포인트 컬러 */
  --color-red-500: #f94a14;
  --color-yellow-200: #ffbe14;
  --color-green-100: #b6eb7a;
  --color-green-200: #7cdd40;
  --color-green-300: #1ebf6d;
  --color-sky-100: #97e5ef;
  --color-blue-100: #e1e5fd;
  --color-blue-500: #647bff;
  --color-purple-600: #9447ed;
  
}
